* {
    direction: rtl !important;
    /* font-family: 'Open Sans' !important; */
  }

.hero .content {
  text-align: right;
}

.lang-icon {
    width: fit-content;
    position: absolute;
    z-index: 10;
    top: 17px;
    right: 20px;
}

.hero .btn-get-started {
  
  flex-flow: row-reverse;
}


  @media (max-width:767px){

    }
  @media (min-width:767px){

  }






